/* general book styling */
.bookscontainer {
    width: 28rem;
    height: 8rem;
    display: flex;
    align-items: end;
    transform-style: preserve-3d;
    transform: translateX(-49%) translateZ(7rem);
}

.bookscontainer li {
    max-width: 10%;
    height: 8rem;
    transform-style: preserve-3d;
    position: relative;
}

.bookscontainer li span h2 {
    color: var(--darkerpurple);
    font-size: 1em;
    transform: rotate(90deg) translateY(13px) translateX(40px);
    width: 8rem;
    height: 2.8rem;
    margin: 0;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
}

/* als html veranderd kan dit niet werken!!!! */
.bookshelf article:nth-of-type(1) ul {
    transform: translateX(-47%) translateZ(7rem);
}

.bookshelf article:nth-of-type(3) ul {
    transform: translateX(-51%) translateZ(7rem);
}

.book {
    transform-style: preserve-3d;
    position: relative;
}

.book-top {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2.8rem;
    height: 5rem;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-5rem);
    background-color: var(--bookpage);
}

.book-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 8rem;
    background: var(--book4shadow);
    transform-origin: left;
    transform: rotateY(-90deg) translateX(-5rem) translateZ(-2px);
}

.book-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 8rem;
    background: var(--book4shadow);
    transform-origin: right;
    transform: rotateY(90deg) translateX(5rem);
}

.label {
    display: block;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background: var(--book4);

    h2 {
        user-select: none;
    }
}

.shelf-1 {
    .book:nth-of-type(5n) {
        .book-left {
            background-color: var(--book2shadow);
        }
        
        .book-right {
            background-color: var(--book2shadow);
        }

        .label {
            background-color: var(--book2);
        }
    }

    .book:nth-of-type(3n) {
        .book-left {
            background-color: var(--bookshelf);
        }
        
        .book-right {
            background-color: var(--bookshelf);
        }

        .label {
            background-color: var(--book3);
        }
    }

    .book:nth-of-type(4n) {
        .book-left {
            background-color: var(--book5shadow);
        }
        
        .book-right {
            background-color: var(--book5shadow);
        }

        .label {
            background-color: var(--book5);
        }
    }

    .book:nth-of-type(1) {
        .book-left {
            background-color: var(--book1shadow);
        }
        
        .book-right {
            background-color: var(--book1shadow);
        }

        .label {
            background-color: var(--book1);
        }
    }
}

.shelf-2 {
    .book:nth-of-type(1 + 1) {
        .book-left {
            background-color: var(--book2shadow);
        }
        
        .book-right {
            background-color: var(--book2shadow);
        }

        .label {
            background-color: var(--book2);
        }
    }

    .book:nth-of-type(4n) {
        .book-left {
            background-color: var(--bookshelf);
        }
        
        .book-right {
            background-color: var(--bookshelf);
        }

        .label {
            background-color: var(--book3);
        }
    }

    .book:nth-of-type(5n) {
        .book-left {
            background-color: var(--book5shadow);
        }
        
        .book-right {
            background-color: var(--book5shadow);
        }

        .label {
            background-color: var(--book5);
        }
    }

    .book:nth-of-type(3n) {
        .book-left {
            background-color: var(--book1shadow);
        }
        
        .book-right {
            background-color: var(--book1shadow);
        }

        .label {
            background-color: var(--book1);
        }
    }
}

.shelf-3 {
    .book:nth-of-type(3n) {
        .book-left {
            background-color: var(--book2shadow);
        }
        
        .book-right {
            background-color: var(--book2shadow);
        }

        .label {
            background-color: var(--book2);
        }
    }

    .book:nth-of-type(2n) {
        .book-left {
            background-color: var(--bookshelf);
        }
        
        .book-right {
            background-color: var(--bookshelf);
        }

        .label {
            background-color: var(--book3);
        }
    }

    .book:nth-of-type(4n) {
        .book-left {
            background-color: var(--book5shadow);
        }
        
        .book-right {
            background-color: var(--book5shadow);
        }

        .label {
            background-color: var(--book5);
        }
    }

    .book:nth-of-type(7) {
        .book-left {
            background-color: var(--book1shadow);
        }
        
        .book-right {
            background-color: var(--book1shadow);
        }

        .label {
            background-color: var(--book1);
        }
    }
}

.book:has(.label:hover) {
    cursor: pointer;
    transform: rotateX(-15deg);
    transform-origin: bottom;
}

.book:has(.label:active) {
    cursor: pointer;
    transform: rotateX(-20deg);
}

/* open books */
.openbook {
    perspective: 250vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: var(--book1);
    width: 86vw;
    height: 60vw;
    border-radius: 1rem;
}

.pages {
    position: relative;
    width: 78vw;
    height: 54vw;
    transform-style: preserve-3d;
}

.page {
    position: absolute;
    top: 0;
    width: 39vw;
    height: 54vw;
    background-color: var(--bookpage);
    transform-origin: left center;
    transition: transform 1s;
    backface-visibility: hidden;
    cursor: pointer;
    overflow: hidden;
}

.page p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.page img {
    max-width: 100%;
    width: 20rem;
}

/* de kaft */
.page:has(h3) {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 3em;
    }
}

/* right page */
.page:nth-child(odd) {
    right: 0;
    border-radius: 0 8px 8px 0;
    transform: rotateY(0deg);
    background-color: var(--bookpage);
}

/* left page */
.page:nth-child(even) {
    left: 0;
    transform: rotateY(180deg);
    transform-origin: right center;
    border-radius: 8px 0 0 8px;
    background-color: var(--bookpage);
    pointer-events: none;
}

.page.flipped:nth-child(odd) {
    transform: rotateY(-180deg);
    pointer-events: none;
}

.page.flipped:nth-child(even) {
    transform: rotateY(0deg);
    pointer-events: auto;
}

.detail-book {
    display: none;
}

.detail-book.active {
    display: block;
}

@media(max-width: 600px) {
    .bookshelf-content {
        transform: rotate(90deg) scale(2);
        transform-style: flat;
        width: 0rem;
        top: 10rem;
    }

    .shelf-1 {
        top: 30vh;
    }

    .shelf-2 {
       top: 98.5vh;
    }

    .shelf-3 {
        top: 167vh;
    }

    .label {
        transform: rotate(180deg);
    }
}