.bookshelf {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    display: flex;
    justify-content: center;
}

.bookshelf:active {
    cursor: grabbing;
}

/* surfaces on the outside */
.bookshelf-side {
    transform-style: preserve-3d;
    position: absolute;
}

.bookshelf-top {
    transform-origin: top;
    transform: rotateX(90deg) translateY(-10rem);
    background-color:  var(--bookshelflightshadow);
    width: 30rem;
    height: 20rem;
}

.bookshelf-bottom {
    transform: rotateX(-90deg) translateZ(40rem);
    background-color: var(--bookshelflightshadow);
    width: 30rem;
    height: 20rem;
}

.bookshelf-front {
    transform: rotateX(0deg) translateZ(10rem);
    height: 50rem;
    width: 30rem;
    pointer-events: none;
}

.bookshelf-back {
    transform: rotateY(180deg) translateZ(10rem);
    background-color:  var(--bookshelflightshadow);
    height: 50rem;
    width: 30rem;
}

.bookshelf-left {
    transform: rotateY(-90deg) translateZ(15rem);
    background-color: var(--bookshelf);
    height: 50rem;
    width: 20rem;
}

.bookshelf-right {
    transform: rotateY(90deg) translateZ(15rem);
    background-color: var(--bookshelf);
    height: 50rem;
    width: 20rem;
}

/* front corners */
.bookshelf-front-side-top, .bookshelf-front-side-left, .bookshelf-front-side-right, .bookshelf-front-side-bottom {
    background-color: var(--bookshelf);
    width: 20px;
    height: 10px;
    position: absolute;
}

.bookshelf-front-side-top {
    transform: rotateX(0deg);
    width: 100%;
    height: 1rem;
}

.bookshelf-front-side-left {
    height: 100%;
    width: 1rem;
    left: 0;
    top: 0;
}

.bookshelf-front-side-right {
    height: 100%;
    width: 1rem;
    right: 0;
    top: 0;
}

.bookshelf-front-side-bottom {
    bottom: 0;
    width: 100%;
    height: 1rem;
}

/* surfaces on the inside */
.inner-side-top {
    transform-origin: top;
    transform: rotateX(90deg) translateY(-10rem) translateZ(-1rem);
    background-color: var(--bookshelfdarkshadow);
    width: 30rem;
    height: 20rem;
}

.inner-side-left {
    transform: rotateY(-90deg) translateZ(14rem);
    background-color: var(--bookshelfdarkshadow);
    height: 50rem;
    width: 20rem;
}

.inner-side-back {
    transform: rotateY(180deg) translateZ(9rem);
    background-color: var(--bookshelfdarkshadow);
    height: 50rem;
    width: 30rem;
}

.inner-side-right {
    transform: rotateY(90deg) translateZ(14rem);
    background-color: var(--bookshelfdarkshadow);
    height: 50rem;
    width: 20rem;
}

.inner-side-bottom {
    transform: rotateX(-90deg) translateZ(39rem);
    background-color: var(--bookshelfdarkshadow);
    width: 30rem;
    height: 20rem;
}

/* planks */
.bookshelf-content {
    transform-style: preserve-3d;
    position: relative;
    width: 10px;
}

.shelf-1 {
    transform: translateY(8rem)
}

.shelf-2 {
    transform: translateY(21rem)
}

.shelf-3 {
    transform: translateY(34rem)
}

.plankcontainer-1, .plankcontainer-2, .plankcontainer-3 {
    position: relative;
    transform-style: preserve-3d;
}

.plank-top {
    position: absolute;
    background-color: var(--bookshelfshadow);
    transform: rotateX(90deg) translateZ(10rem) translateX(-15rem);
    width: 29rem;
    height: 20rem;
}

.plank-front {
    position: absolute;
    background-color: var(--bookshelfshadow);
    transform: rotateY(-180deg) translateZ(-10rem) translateX(14rem);
    width: 28rem;
    height: 2rem;
}

.plank-bottom {
    position: absolute;
    background-color: var(--bookshelfshadow);
    transform: rotateX(90deg) translateZ(8rem) translateX(-15rem);
    width: 29rem;
    height: 20rem;
}

.plankcontainer-1 {
    .plank-top {
       transform: rotateX(90deg) translateZ(10rem) translateX(-14rem)
    }

    .plank-front {
        transform: rotateY(-180deg) translateZ(-10rem) translateX(46.5%)
    }

    .plank-bottom {
        transform: rotateX(90deg) translateZ(8rem) translateX(-14rem);
    }
}

.plankcontainer-2 {
    .plank-top {
       transform: rotateX(90deg) translateZ(10rem) translateX(-14rem)
    }

    .plank-front {
        transform: rotateY(-180deg) translateZ(-10rem) translateX(49%)
    }

    .plank-bottom {
        transform: rotateX(90deg) translateZ(8rem) translateX(-14rem);
    }
}

.plankcontainer-3 {
    .plank-top {
       transform: rotateX(90deg) translateZ(10rem) translateX(-15rem)
    }

    .plank-front {
        transform: rotateY(-180deg) translateZ(-10rem) translateX(51%)
    }

    .plank-bottom {
        transform: rotateX(90deg) translateZ(8rem) translateX(-15rem);
    }
}

@media(max-width: 600px) {

    .bookshelf {
        transform: scale(0.5);
    }


    

    /* for pile of books */
    /* header {
        height: 10rem;
    }

    .plankcontainer-1, .plankcontainer-2, .plankcontainer-3 {
        display: none;
    }
    
    .bookshelf-side {
        display: none;
    } */
}