:root {
    --lightpink: #FFDFF4;
    --darkred: #D05557;
    --darkerred: #c04749;
    --lightred: #FF5A5E;
    --darkpurple: #592049;
    --darkerpurple: #150511;
    --blue: #5E8BED;
    --darkblue: #4572d2;
    --yellow: #FDB965;
    --darkyellow: #df9e4e;
    --green: #82C5BE;
    --darkgreen: #60a7a0;
    --pink: #FE8ABD;
    --darkpink: #dc6599;
    --white: #f9f5f5;

    --bg: var(--lightpink);
    --bookshelf: var(--darkred);
    --bookshelflightshadow: var(--darkerred);
    --bookshelfshadow: var(--darkpurple);
    --bookshelfdarkshadow: var(--darkerpurple);
    --book1: var(--green);
    --book1shadow: var(--darkgreen);
    --book2: var(--yellow);
    --book2shadow: var(--darkyellow);
    --book3: var(--lightred);
    --book4: var(--pink);
    --book4shadow: var(--darkpink);
    --book5: var(--blue);
    --book5shadow: var(--darkblue);
    --bookpage: var(--white);
}

body {
    perspective: 1000px;
    background-color: var(--bg);
}

header {
    height: 20vh;
}

main {
    height: 120vh;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}